.container-with-margins {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 5%;
}

.subtitle {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.subtitle:hover {
    cursor: text;
}
a.subtitle:link:hover {
    cursor:pointer;
}

.intro {
    color: #f20089;
}
.intro:hover {
    color: #f20089;
}

.gradient {
    background: linear-gradient(to right, #ff512f, #dd2476, #dd2476);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.spaceAfter {
    margin-right: 23px;
}

a:link, a:visited, a.link {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: inherit;
}
a:link:hover, a:visited:hover, a.link:hover {
    text-decoration: none;
    color: inherit;
}

section {
    background-attachment: fixed;
}

b {
    font-size: larger;
    font-weight: bolder;
}

@media screen and (min-width: 900px) {
    .title {
        font-size: 60px;
        font-family: 'Poppins', sans-serif;
    }

    .about-me-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
    .about-me-child {
        margin: 50px;
    }

    .notForDesktop {
        display: none;
    }
}
@media screen and (max-width: 899px) {
    .title {
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
    }

    .about-me-child {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

ul {
    list-style: outside;
}
li {
    padding-left: 5px;
    padding-top: 10px;
}

.is-pink {
    background-color: #f20089;
    border: none;
    color: white;
}
.is-pink:hover {
    background-color: #f20089e8;
    border: none;
    color: white;
}

.slideContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    background: #3c31dd;
}

.about {
    color: #ddd;
    font-size: large;
}

.white {
    color: #ddd;
}

.project-logo {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.tech {
    color: #ddd;
    list-style-type: none;
    font-size: x-large;
}
